version: '3.5'

services:
  traefik:
    image: traefik:v2.2
    ports:
      - 8080:80
      - 8443:443
    deploy:
      replicas: 1
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure
      labels:
        - traefik.enable=true
        - traefik.docker.network=traefik_public
        - traefik.http.services.api.loadbalancer.server.port=8080
        - traefik.http.routers.api.service=api@internal
        - traefik.http.routers.api.rule=Host(`traefik.local`)
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: >
       --log.level=ERROR
       --api.insecure=true
       --providers.docker
       --providers.docker.swarmmode=true
       --providers.docker.watch=true
       --providers.docker.exposedbydefault=false
       --entryPoints.web.address=:80
    networks:
      - public

networks:
  public:
    driver: overlay
    attachable: true
